<div class="border border-dashed border-slate-200 bg-gray-200 p-8">
    <div class="flex md:flex-row flex-col gap-12">
        {% if track.thumbnail %}
            <a href="/track/{{ track.uuid }}">
                <img src="{{ track.thumbnail }}" class="w-[320px] h-[180px]"/>
            </a>
        {% endif %}
        <div class="flex flex-col">
            <div>
                Title: <a href="/track/{{ track.uuid }}"><strong
                    class="font-semibold text-lg">{{ track.title }}</strong></a>
            </div>
            <div>
                Duration: <strong class="font-semibold text-lg">{{ track.duration }}</strong>
            </div>
            <div>
                Key:
                {% if track.key %}
                    <strong class="font-semibold text-lg bg-slate-600 text-white px-2">
                    {{ track.key }} {{ track.quality }}
                {% endif %}
                </strong>
            </div>
            <div>
                Status: <code class="text-lg">{{ track.status_name }}</code>
            </div>
            {% if track.error_message %}
                <div class="font-semibold text-red-600">
                    {{ track.error_message }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
